<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문 작성 결과</title>
    <style>
        *{
            text-align: center;
        }
        body{
            background: cadetblue;
        }
        td{
            text-align: center;
        }
        table{
            background: snow;
            margin-left:auto;
            margin-right:auto;
        }
        .c1{
            background: aliceblue;
            width: 250px;
        }
    </style>
</head>
<body>
<h3>질문 작성 결과</h3>
<table border="1">
    <tr>
        <td class="c1" colspan="2">
            질문 작성이 정상적으로 완료되었습니다!!
        </td>
    </tr>
    <tr>
        <td class="c1"><a href="/question">질문 작성 시작페이지로..</a></td>
        <td class="c2">
            <a href="/question/q_delete">
                <button>질문 삭제 go!</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>