<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djangoProject 구축 실습</title>
</head>
<body bgcolor=yellow>
    <h3>장고 프로젝트1</h3><hr color=red>
    <a href=member/>start 페이지로</a><br>
    <a href=admin/>admin 페이지로</a><br>
    <a href=/bbs/index>bbs index 페이지로</a><br>
    <a href=member/index1>index1 페이지로</a><br>
    <a href=member/index2>index2 페이지로</a><br>
    <a href=member/index3>index3 페이지로</a><br>
    <a href='https://www.naver.com'>네이버 시작화면으로</a><br>
    <a href='https://www.daum.net'>다음 시작화면으로</a><br>
</body>
</html>