<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            text-align: center;
        }
        body{
            background: cadetblue;
        }
        td{
            text-align: center;
        }
        table{
            background: snow;
            margin-left:auto;
            margin-right:auto;
        }
        .c1{
            background: aliceblue;
            width: 250px;
        }
    </style>
</head>
<body bgcolor=#e9967a>
<h3>회원 탈퇴 결과</h3>
<table border="1">
    <tr>
        <td class="c1" colspan="2">
            회원탈퇴 처리가 정상적으로 완료되었습니다!!
        </td>
    </tr>
    <tr>
        <td class="c1"><a href="/member">회원정보 시작페이지로..</a></td>
        <td class="c2">
            <a href="/member/delete">
                <button>회원 탈퇴 go!</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>